<header class="header bg-primary100">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand fs-3 fw-bold" href="index.html">Vivre</a>
        <button
          class="navbar-toggler border border-0 px-2 py-3"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasTop"
          aria-controls="offcanvasTop"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list fs-4"></i>
        </button>
        <div
          class="offcanvas offcanvas-top h-100 bg-primary100"
          tabindex="-1"
          id="offcanvasTop"
          aria-labelledby="offcanvasTopLabel"
        >
          <div class="container">
            <div class="offcanvas-header justify-content-end">
              <button
                type="button"
                class="bg-transparent border border-0"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <i class="bi p-3 fs-5"></i>
              </button>
            </div>
            <div class="offcanvas-body">
              <form class="d-flex mb-6 mb-lg-0 align-items-lg-center" role="search">
                <div class="position-relative w-100">
                  <input
                    class="search-input form-control me-2 rounded-pill"
                    type="search"
                    placeholder="搜尋文章"
                    aria-label="Search"
                  />
                  <i class="search-icon bi bi-search position-absolute align-middle"></i>
                </div>
              </form>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center fw-bold">
                <li class="nav-item mb-6 mb-lg-0 me-lg-5">
                  <a class="nav-link p-3 px-lg-5 py-lg-2" href="#">所有文章</a>
                </li>
                <li class="nav-item mb-6 mb-lg-0 me-lg-5">
                  <a class="nav-link p-3 px-lg-5 py-lg-2" href="#">訂閱方案</a>
                </li>
                <li class="nav-item mb-10 mb-lg-0 me-lg-5">
                  <a class="nav-link p-3 px-lg-5 py-lg-2" href="about.html">關於我們</a>
                </li>
                <li class="nav-item py-lg-9">
                  <a class="btn btn-accrnt200 text-white d-block rounded-pill py-3 py-lg-4 px-lg-6" href="#" role="button">登入 / 註冊</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
